body{
  margin: 0;
  background:#FFFFF;
  font-family: Verdana, Tahoma, serif;
}


.title{
  font-size:larger;
  width: 100%;
  height: 70px;
  display: block;
  text-align: left;
  padding-left: 20px;
  position: relative;
}


.container{
  width : 100%;
  padding-left: 10px;
  padding-top: 0px;
  margin: 0 auto;
  text-align: left;
}

.immagine{
  width : 80%;
  margin-top: 0px;
  padding-left: 20px;
  display: inline-block;
}

.About_me{
  width: 80%;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 0px;
  display: inline-block;
}

.Pantheon{
  width: 80%;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 0px;
  display: inline-block;
}

.links{
  width: 80%;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 0px;
  display: inline-block;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li{
  display: inline-block;
  font-size: small;
  margin-right: 4px;
  margin-left: 4px;
  padding-right: 0px; 
  padding-top: 15px;
  padding-bottom: 0px;
}

nav a{
  color: black;
  text-decoration: none;
}

nav li :hover{
  color : blue;
  text-decoration: underline;
  cursor: pointer;
}

.CV{ 
  padding-left: 20px;
  width: 80%;
}

.CV a{
  color : blue;
  cursor: pointer;
}

.CV a:hover{
  text-decoration: underline;
}

.video{ 
  padding-left: 20px;
  width: 70%;
}

.video a{
  color : blue;
  cursor: pointer;
}

.video a:hover{
  text-decoration: underline;
}
